<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Car Rental System</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Customer Details</h1>
    <form action="/rent" method="post">
      <label for="customerName">Customer Name:</label>
      <input type="text" id="customerName" name="customerName" placeholder="Customer Name" required>
<br>
      <label for="carId">Car:</label>
      <select id="carId" name="carId">
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.brand} + ' ' + ${car.model}"></option>
      </select>
      <br>

      <label for="days">Days:</label>
      <input type="number" id="days" name="days" placeholder="Days" required>
<br>
      <button type="submit">Rent</button>
    </form>
<br>
    <h2>HAPPY-RENTING</h2>
    <ul>
      <li th:each="rental : ${rentals}">
        <span th:text="${rental.customerName}"></span> - <span th:text="${rental.car.number}"></span> - <span th:text="${rental.days}"></span> days
      </li>
    </ul>
  </div>
</body>
</html>